body
{
    background-color:#F5EFFB;
    font-family: "Calisto MT", "Palatino", "Iowan Old Style", "Minion Pro", "Constantia", serif
}
h2,h3
{
	font-family: "Myriad Pro", "Candara", "Seravek", "Optima", "Corbel", sans-serif}
li
{
    padding-bottom:3mm
}