{% extends "bootstrap/base.html" %}

{% block title %}Chicago taxi project{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="naviation">
    <div class="container">
	<div class="navbar-header">
	    <button type="button" class="navbar-toggle"
	     data-toggle="collapse" data-target=".navbar-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="/">Chicago taxi</a>
	</div>
	<div class="navbar-collapse collapse">
	    <ul class="nav navbar-nav">
		<li><a href="/">Home</a></li>
		<li><a href="/about/">About the project</a></li>
		<li><a href="/analysis/">Analysis</a></li>
		<li><a href="/satoru/">About Me</a></li>
	    </ul>
	</div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}
