{% extends "base.html" %}

{% block title %}Chicago taxi project{% endblock %}

{% block page_content %}
<div class="container">
    <div class="page-header">
	<h1>Chicago taxi project</h1>
    </div>
    <h3>How much is traffic reduced if there is a fee to enter/leave the Loop?</h3>
    <script
    src="static/bokeh_line.js"
    id="0eb5b09f-f50b-4ac2-8247-55311c3ae31a"
    data-bokeh-model-id="0d7defc4-2e8e-4727-98ed-bf1c8c56a4f8"
    data-bokeh-doc-id="3c2b6838-e752-4a65-80ff-9663d4309fb1"
    ></script>
    <script
    src="static/bokeh_map.js"
    id="bfc89f53-58af-4dbf-aa8d-318d6c344dc4"
    data-bokeh-model-id="f71c8ca0-7a4e-467a-b0ef-284b3eee8d6a"
    data-bokeh-doc-id="641bf4aa-851b-4214-85f3-eb3eaf73409c"
    ></script>
</div>
{% endblock %}
