{% extends "base.html" %}

{% block title %}Chicago taxi project{% endblock %}

{% block page_content %}
<div class="container">
    <div class="page-header">
	<h1>Chicago taxi project</h1>
    </div>
    <h3>How much is traffic reduced if there is a fee to enter/leave the Loop?</h3>
    <script
    src="static/bokeh_map.js"
    id="bfc89f53-58af-4dbf-aa8d-318d6c344dc4"
    data-bokeh-model-id="f71c8ca0-7a4e-467a-b0ef-284b3eee8d6a"
    data-bokeh-doc-id="641bf4aa-851b-4214-85f3-eb3eaf73409c"
    ></script>
    <script
    src="static/bokeh_line.js"
    id="d1c3b706-7495-406b-a2cd-c9656570f609"
    data-bokeh-model-id="c3c35673-e6b4-4c3f-995a-68a10c46bf24"
    data-bokeh-doc-id="54815531-67c4-4c42-8a56-ff8b4a7e93a3"
    ></script>
</div>
{% endblock %}
