{% extends "base.html" %}

{% block title %}Chicago taxi project{% endblock %}

{% block page_content %}
<div class="container">
    <div class="page-header">
	<h1>Chicago taxi project</h1>
    </div>
    <h3>How much is traffic reduced if there is a fee to enter/leave the Loop?</h3>
    <script
    src="static/bokeh_map.js"
    id="bfc89f53-58af-4dbf-aa8d-318d6c344dc4"
    data-bokeh-model-id="f71c8ca0-7a4e-467a-b0ef-284b3eee8d6a"
    data-bokeh-doc-id="641bf4aa-851b-4214-85f3-eb3eaf73409c"
    ></script>
    <script
    src="static/bokeh_line.js"
    id="b4b045d0-18db-4522-b8be-b3dbcc9e572b"
    data-bokeh-model-id="70402243-257b-4465-98b0-5c838af0c542"
    data-bokeh-doc-id="1af7b107-d998-484c-be8c-27f833f413ea"
    ></script>
</div>
{% endblock %}
