{% extends "base.html" %}

{% block title %}Chicago taxi project{% endblock %}

{% block page_content %}
<div class="container">
    <div class="page-header">
	<h1>About Me</h1>
    </div>
    <img src="{{url_for('static', filename='satoru.jpg')}}" width="300"/>
    <h3>Background</h3>
    <p>My name is Satoru Inoue, and I'm a theoretical nuclear physicist transitioning to a data scientist. After finishing my Ph.D. at University of California, Berkeley in 2012, I've spent 5+ years as a postdoc at University of Wisconsin-Madison, University of Massachusetts Amherst, then University of South Carolina. I am currently based in Chicago.</p>
    <h3>Interests</h3>
    <p>My main interest in terms of data science is cities, not only because of the stimulating experiences from being in them, but also because of the intellectual challenge in trying to understand a complex system made up of a huge number of people interacting with each other and with the physical structures like roads and buildings. Cities are also important and valuable economically, as they set the stage for creative people to come together and bring new ideas to the world. So analyzing urban data to understand and improve cities is something I would love to spend time doing. I am also interested in the latest machine learning techniques, as tools for gaining insight about the world as well as about the nature of intelligence.</p>
</div>
{% endblock %}
